@inherits LayoutComponentBase

<div class="page">
    <main>
        <article class="content">
            @Body
        </article>
    </main>
</div>

<style>
    .page {
        position: relative;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        background-color: #121212;
    }

    main {
        flex: 1;
    }

    .content {
        padding: 0;
    }
</style>